# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist/
build/
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.sw?
.DS_Store

# Logs
logs/
*.log
npm-debug.log*

# Env
.env
.env.local
.env.*.local

# Cache
.cache/
.eslintcache
*.tsbuildinfo

# OS
Thumbs.db

# Temporary
*.tmp
*.swp
*~
